<div class="page-header">
  <h1>Groups</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newGroupsPath() %>" class="btn btn-primary">Create New Group</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>GroupName</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (group) in groups { %>
      <tr>
      <td><%= group.GroupName %></td>
        <td>
          <div class="pull-right">
            <a href="<%= groupPath({ group_id: group.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editGroupPath({ group_id: group.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= groupPath({ group_id: group.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
